<div class="alert info" *ngIf="danger">
    <span class="closebtn" (click)="removerMensagemAlerta('danger')">&times;</span>
    <strong>Info!</strong> {{mensagemAlerta}}
</div>

<div class="alert success" *ngIf="sucesso">
    <strong>Sucesso!</strong> {{mensagemAlerta}}.
</div>
<div class="card card-container" *ngIf="telaLogin">
    <h2 class='login_title text-center'>Login</h2>
    <hr>

    <form class="form-signin" (ngSubmit)="login(user)">
        <span id="reauth-email" class="reauth-email"></span>
        <p class="input_title">Email</p>
        <input type="text" id="inputEmail" class="login_box" name="inputEmail" #inputEmail="ngModel" autofocus [(ngModel)]="user.email">
        <p class="input_title">Password</p>
        <input type="password" id="inputPassword" class="login_box" required [(ngModel)]="user.senha" name="inputPassword" #inputPassword="ngModel">

        <button class="btn btn-lg btn-primary" type="submit">Acessar</button>
    </form>

    <div id="div_criar_conta">
        <button type="button" class="btn btn-link" (click)="mudarTela('cadastro')">   Criar Conta</button>
    </div>
</div>

<!-- Criar Conta -->
<div class="card card-container" *ngIf="telaCadastroNovoUsuario">
    <h2 class='login_title text-center'>Criar Conta</h2>
    <hr>

    <form class="form-signin" (ngSubmit)="criarConta(user)">
        <span id="reauth-email" class="reauth-email"></span>
        <p class="input_title">Email</p>
        <input type="text" id="inputEmail" class="login_box" name="inputEmail" #inputEmail="ngModel" required autofocus [(ngModel)]="user.email">
        <p class="input_title">Senha</p>
        <input type="password" id="inputPassword" class="login_box" required [(ngModel)]="user.senha" name="inputPassword" #inputPassword="ngModel">

        <input type="radio" [(ngModel)]="user.perfil" id="perfil" name="perfil" #perfil="ngModel" value="A"> Administrador<br>
        <input type="radio" [(ngModel)]="user.perfil" id="perfil" name="perfil" #perfil="ngModel" value="U"> Usuario<br>

        <button class="btn btn-lg btn-primary" type="submit" style="margin-top: 15px;">Criar Conta</button>
    </form>

    <div id="div_criar_conta">
        <button type="button" class="btn btn-link" (click)="mudarTela('login')"> Possui Cadastro? <b>Realizar Login</b></button>
    </div>
</div>

<div id="rodape">
    <footer class="footer">
        <label style="color:white">Equipe:<br></label>
        <h6 style="color:white"> Alex Andrade, Denner Ricardo, Jair Cavalcante</h6>

    </footer>
</div>